@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

html,
body {
  color: white;
  font-family: "Fredoka", sans-serif;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  color-scheme: dark;
  scroll-behavior: smooth;
}

/* Background class positioned independently from other elements */
.main-backdrop {
  z-index: -1;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("images/city_blur.webp") no-repeat center center fixed;
  background-size: cover;
}

main {
  margin: 3rem 0;
  width: 100%;
}

main>div {
  width: -moz-fit-content;
  width: fit-content;

  margin-inline: auto;
  max-width: min(100vw - 3rem, 50rem);
  min-width: min(100vw - 3rem, 50rem);
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: "logo logo" "intro intro" "featuring info" "credits credits";
  gap: 2rem;
}

.main-logo {
  grid-area: logo;
  width: 88vw;

  margin-inline: auto;
  position: relative;
  margin-bottom: -6rem;
}

.main-logo img {
  transform: rotateZ(-2deg);
  width: 100%;
  border-radius: 6.5vw;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.301);
  background-color: rgb(86, 86, 86);
  aspect-ratio: 1080/379;
}

.main-logo .chain1,
.main-logo .chain2 {
  position: absolute;
  min-width: 1rem;
  min-height: 5rem;
  background-color: rgb(86, 86, 86);
  top: -3rem;
}

.main-logo .chain1 {
  left: 2rem;
}

.main-logo .chain2 {
  right: 2rem;
}

@media (min-width:520px) {
  .main-logo {
    width: -moz-fit-content;
    width: fit-content;
  }

  .main-logo img {
    width: 30rem;
    border-radius: 2rem;
  }
}

.classic-link {
  position: absolute;
  top: 0.75rem;
  left: 64vw;
  transform: rotateZ(-3deg);
  font-size: 3vw;
}

@media (min-width:520px) {
  .classic-link {
    font-size: medium;
    top: 1rem;
    left: 21.5rem;
  }
}

a {
  color: white;
}

p {
  margin: 0;
}

.neon-card {
  --color-base: #e84ea8;
  --color-inner: #ee3e79;
  --color-outer: #c42b1a;
  --color-trans: #271621;
  padding: 2rem;
  border: 3px solid var(--color-base);
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--color-base), 0 0 0.1rem var(--color-outer), 0 0 0.5rem inset var(--color-inner);
  background-color: rgb(23, 23, 23);
}

.neon-card .glow,
.neon-card h1,
.neon-card h2,
.neon-card h3 strong {
  font-weight: 500;
  letter-spacing: 1.5px;
  color: white;
  text-shadow: 0 0 0.15rem var(--color-base), 0 0 0.15rem var(--color-base), 0 0 0.15rem var(--color-inner), 0 0 0.15rem var(--color-outer), 0 0 0.15rem var(--color-outer);
}

.neon-card .discord-link {
  margin-block: 0.5rem 1rem;
  margin: 1rem auto 2rem auto;
  height: 71px;
  width: max-content;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 0.75rem;
  background-color: var(--color-trans);

  box-shadow: 0 0 0.1rem var(--color-base), 0 0 0.1rem var(--color-base), 0 0 1rem var(--color-inner), 0 0 0.5rem var(--color-outer), 0 0 0.1rem var(--color-outer), inset 0 0 0.15rem var(--color-inner), inset 0 0 1rem var(--color-outer);
  transition: transform 0.125s ease-out, filter 0.125s ease-in-out, box-shadow 0.125s ease-in-out;
  text-shadow: 0 0 0.75rem var(--color-inner);
  outline-color: transparent;
  text-decoration: none;
}

.neon-card .discord-link img {
  height: 45%;
  margin: 0 0 0 1rem;
  filter: drop-shadow(0px 0px 0.25rem var(--color-inner));
}

.neon-card .discord-link div {
  padding: 1rem 1rem;
  appearance: none;
  background: none;

  font-family: "Fredoka";
  font-weight: 700;
  font-size: 2rem;

  border: none;
  letter-spacing: 3px;
  color: white;
  cursor: pointer;

}

@media (max-width:520px) {
  .neon-card .discord-link {
    aspect-ratio: 1/1;
    padding: 0.25rem;
  }

  .neon-card .discord-link img {
    margin: 0;
  }

  .neon-card .discord-link div {
    display: none;
  }
}

.neon-card .discord-link:hover {
  transform: scale(1.025);
  filter: brightness(1.2);
}

.neon-card .discord-link:focus-visible,
.neon-card .discord-link:active {
  transform: scale(1);
}

.neon-card .center {
  text-align: center;
}

.neon-card.orange {
  --color-base: #fff63f;
  --color-inner: #ffaf3f;
  --color-outer: #fb4c2d;
  --color-trans: #5a1a0f;
}

.neon-card.blue {
  --color-base: #60faff;
  --color-inner: #3bc5f3;
  --color-outer: #308dff;
  --color-trans: #0d2645;

}

.neon-card.green {
  --color-base: #9BEC6D;
  --color-inner: #84e84a;
  --color-outer: #65e21d;
  --color-trans: #1e4409;
}

.neon-card.purple {
  --color-base: #c060dd;
  --color-inner: #ac51a7;
  --color-outer: #85276d;
  --color-trans: #20121b;
}



.neon-card h2 {
  margin-top: 0;
}

.dates {
  display: flex;
  justify-content: space-between;
}

.dates .date {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.dates .date:first-child {
  text-align: left;
}

.dates .date:last-child {
  text-align: right;
}

.dates .glow {
  font-size: 1.5rem;
}

.intro {
  grid-area: intro;
}

.intro {
  padding: 4rem 1.5rem 1.5rem 1.5rem;
}

@media (min-width: 730px) {
  .intro {
    padding: 2rem 2rem 2rem 2rem;
  }
}

.featuring {
  grid-area: featuring;
  padding: 2rem
}

h2 {
  margin-bottom: 0.5rem;
}

.featuring ul {
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0 0 0 0;
}

.featuring ul li {
  margin: 0.5rem 0;
}

.featuring ul li sub {
  line-height: 0.1rem;
}

.announcements {
  grid-area: announcements;
}

/*# sourceMappingURL=styles.css.map */
.credits {
  grid-area: credits;
  display: flex;
  flex-direction: column;
}

.credits>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 650px) {
  main>div {
    display: flex;
    flex-direction: column;
  }

  .credits>div {
    flex-direction: column;
  }

  .modfest-credit {
    margin: 3rem auto;
  }
}

.modfest-credit {
  color: #fffa;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 0 auto;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table th {
  text-align: left;
}

table th,
table td {
  padding: .2em .5em;
  margin: .1em;
  border-radius: .2em;
}

table tr:nth-of-type(2n+1) {
  background-color: #aaa1;
}

table .dayhead {
  text-align: center;
  font-weight: bold;
}


.modal-button {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;

  width: 100%;
  bottom: 0;
  background-color: #0000;
  color: #fff;

  font-family: inherit;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 1.3px;

  margin: 1em 0;
  padding: .5em 1em;
  border-radius: 0.5em;
  cursor: pointer;

  border: none;
  border-radius: 0.75rem;
  background-color: var(--color-trans);

  transition: transform 0.125s ease-out, filter 0.125s ease-in-out, box-shadow 0.125s ease-in-out;
  text-shadow: 0 0 0.25rem var(--color-inner);
  outline-color: transparent;
  outline: 2px solid rgb(28, 148, 247);
  text-decoration: none;
}

.modal-button:hover {
  transform: scale(1.015);
  filter: brightness(1.2);
}

.modal-button:focus-visible,
.modal-button:active {
  transform: scale(1);
}

dialog {
  padding: 0 1.5rem 1.5rem 1.5rem;
  background-color: rgb(23, 23, 23);
  color: white;

  border: 4px solid rgb(51, 104, 202);
  filter: drop-shadow(0px 0px 50px rgba(46, 120, 231, 0.2));
  border-radius: 0.75rem;
  max-height: calc(100vh - 8em);

  overscroll-behavior: none;
  overflow: hidden;

  flex-direction: column;
  scroll-margin-top: 4em;

  max-width: min(100vw - 3rem, 80rem);
  box-sizing: border-box;
}

dialog[open] {
  display: flex;
}

dialog .header {
  position: sticky;
  top: 0;
  border: 2px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

dialog>.header>h2 {
  margin: 0;
}

dialog>.content {
  overflow: auto;
}

input.close-button {
  background-color: 333333;
  color: #fff;

  font-weight: bold;
  font-family: inherit;
  font-size: 1em;

  border-radius: 5em;
  display: block;
  margin: 0;
  width: 2.3em;
  height: 2.3em;

  cursor: pointer;

  border: 2px solid var(--color-base);
  box-shadow: 0 0 0.1rem var(--color-base), 0 0 0.1rem var(--color-base), 0 0 1rem var(--color-inner), 0 0 0.5rem var(--color-outer), 0 0 1.8rem var(--color-outer), inset 0 0 0.15rem var(--color-inner), inset 0 0 1rem var(--color-outer);
  text-align: center;
}

input.close-button:hover {
  background-color: #444444;
}

dialog::backdrop {
  backdrop-filter: brightness(.2) saturate(30%);
}

dialog::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

dialog::-webkit-scrollbar-button {
  height: 1em;
}

dialog::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

.table-scroller {
  height: 100%;
  overflow: auto;
}

/* Table header */
thead {
  background-color: rgb(5, 5, 5) !important;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Table header bottom border */
thead::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgb(185, 185, 185);
}

/* Row which ontains both header child elements */
thead tr {
  background-color: none !important;
}

table.sortable thead tr:hover {
  cursor: pointer;
}

/* Individual child elements */
thead tr th {
  border-radius: 0px;
  transition: 0.05s ease;
}

table.sortable thead tr th:hover {
  background: rgb(50, 50, 50);
}

table {
  border-collapse: collapse;
}

.dayhead {
  position: relative;
  background: rgba(55, 55, 55);
}

.dayhead::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid rgb(150, 150, 150);
}

.music-player {
  position: fixed;
  inset: auto auto 1rem 1rem;
  /* max-width: 100px; */
  /* aspect-ratio: 1/1; */

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.1s ease;

}

.music-player button:hover {
  transform: scale(1.1);
}

.music-player button {
  position: relative;
  width: 36px;
  margin: auto;
  aspect-ratio: 1/1;

  background: none;
  outline: none;
  border: none;

  text-decoration: none;
  font-size: 24px;
  filter: drop-shadow(0px 0px 2px yellow);
  cursor: pointer;

}

.music-player button .audio-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;

  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.music-player button .audio-button.visible {
  display: inline;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.js-on {
  display: none;
}

html:has(dialog[open]:modal) {
  overflow: hidden;
}

html {
  scrollbar-gutter: stable;
}